MONGO_URI=mongodb+srv://<user>:<password>@cluster.mongodb.net/firetrack_demo
JWT_SECRET=your_jwt_secret
EMAIL_HOST=smtp.example.com
EMAIL_PORT=587
EMAIL_USER=your_email_username
EMAIL_PASS=your_email_password
EMAIL_FROM=no-reply@firetrack.com